@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixels";
  src: url("/public/fonts/easvhs.ttf");
}

body {
  margin: 0;
  font-family: "pixels";
  background-color: #121212;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 20px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}